nav.nav-primary {
	display: inline-block;
}
.nav-primary ul {
	line-height: 1.9em;
	margin-left: 30px;
}
li.menu-item {
	background-color: #bcbebd;
	color : white;
	padding: 5px 12px;	
	border : 1px solid #FFFFFF;
	margin-left: 15px;
}
li.menu-item a:hover {
    color: white;
    text-decoration: none;
}