
.wrap {
	padding-top: 40px;
}

.works {
	//display:inline-block;
}

.work {
	width:30%;
    background-color: #f2ece6;
    display: inline-block;
    margin: 0.5%;
    padding: 1%;
}
.work::after {
	clear: both;
}
h5{
	margin-top: 10px;
}